.conteiner_home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;
  padding-left: 6.75rem;
  padding-top: 3.8rem;
  gap: 2rem;

  position: relative;

  background-color: var(--grey-100);
}
.conteiner__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;

  width: 85%;
  max-width: 2000px;

  padding-bottom: 2rem;
}
