.conteiner_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  width: 100%;
  max-width: 1765px;
}
.home___cards_charge {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
.home__cards_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  flex-basis: 400px;
}
