.container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;
  color: var(--grey-600);
}
.custom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  margin: 1.5rem 0;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.icon--grey {
  color: var(--grey-600);
  font-size: var(--size-extra-small);
}
.icon--red {
  color: var(--red-500);
  font-size: var(--size-extra-small);
}
.table__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 1.5rem 0;
}
